:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #dadcfb;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  color: #0c0c0c;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#app-content {
  padding-bottom: 60px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* PlantRecognition */
.upload-container {
  text-align: center;
  margin-bottom: 20px;
}

.choose-file-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8c90ea;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0;
  width: 150px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  margin-right: 10px;
}

.choose-file-btn:focus {
  outline: none;
}

.choose-file-btn input[type="file"] {
  display: none;
}

.choose-file-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.icon {
  margin-right: 5px;
}

.image-container {
  text-align: center;
}

.uploaded-image {
  max-width: 300px;
  max-height: 300px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .upload-container {
    flex-direction: column;
    align-items: center;
  }

  .choose-file-btn {
    margin-bottom: 10px;
  }
}

.delete-container {
  text-align: center;
  margin-top: 10px;
}

.delete-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8c90ea;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0;
  width: 200px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}

.delete-btn:focus {
  outline: none;
}

/* ResultDisplay */
.similar-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  margin: 8px;
}

.similar-image {
  max-width: 200px;
  max-height: 200px;
}

.show-latest-results-button {
  background-color: #8c90ea;
  font-weight: bold;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 20px;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #8c90ea;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.social-icons {
  margin-top: 10px;
  font-size: 20px;
}

.social-icons a {
  color: white;
  margin-right: 20px;
}

/* NavBar */
.navbar {
  background-color: #8c90ea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding-left: 30px;
}

.navbar-logo {
  margin-right: 10px; 
}

/* Auth */
.button {
  display: inline-block;
  padding-right: 30px;
  background-color: #8c90ea;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.button:hover {
  color: #0c0c0c;
}

.user-info {
  display: flex;
  align-items: center;
}

.welcome-message {
  color: white;
  margin-right: 10px;
}

.button-signout {
  background-color: #8c90ea;
  color: white;
}

/* AuthModal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 500px;
  text-align: center;
}

.auth-modal {
  background-color: white;
  margin: 40px;
}

.form-group {
  margin-bottom: 20px;
}

.auth-input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.auth-button {
  display: inline-block;
  padding: 8px 12px;
  background-color: #8c90ea;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;
}

.auth-button:hover {
  background-color: #6c70cc;
}

.auth-button-action {
  padding: 12px 24px;
}

.auth-button-toggle {
  background-color: #e0e0e0;
  color: #333;
  font-size: 12px;
}